EASYTIER_NETWORK_NAME="mynetwork"
EASYTIER_NETWORK_SECRET="mykey"
EASYTIER_PEER_URI="public.easytier.cn"
SSH_AUTHORIZED_KEYS="ssh-ed25519 AAAAC.... user@host"
TINYSSH_PORT=2222
EASYTIER_REMOVE_WHEN_STARTED="true"